.em {
    &.em-04 {
        font-size: 0.4em;
    }
    &.em-05 {
        font-size: 0.5em;
    }
    &.em-06 {
        font-size: 0.6em;
    }
    &.em-1 {
        font-size: 1em;
    }
    &.em-2 {
        font-size: 2em;
    }
    &.em-3 {
        font-size: 3em;
    }
    &.em-4 {
        font-size: 4em;
    }
}