// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import "./../theme/font-awesome.min";

@import "./../theme/_fonts";
@import "./../theme/size";
@import "./../theme/_neon";
.fnt-md {
    font-size: 8em;
}

.s-m {
    background-color: black;
    color: white;
 
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.s-m-temp {
    font-size: 5.5rem;
}

.s-m-date {
    font-size: 1.8rem
}

.s-m-time {
    font-size: 2.2rem;
}


$break-small: 400px;
$break-large: 1200px;

.manual {
    /*==========  Mobile First Method  ==========*/
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        font-size:3.5rem;
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        font-size:4.5rem;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        font-size:4rem;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        font-size:4rem;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        font-size:4rem;
    }
}

